.diseno-web-section{
display: flex;
flex-direction: column;
padding: 2.5rem;
background-color: rgba(249,204,80, 0.9);
}
.diseno-web-section .title-container{
    text-align: center;
    margin: 1rem;
}
.diseno-card-section{
display: flex;
flex-direction: row;
justify-content: space-evenly;
width:100%;
}
.diseno-card-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    height: 100%;
}
.diseno-card-container>h3{
    padding: 1rem;
}
.diseno-card-container>img{
    width:90%;
    padding: 0;
    margin: 2rem;
}
.p-container{
    margin: 1rem;
    min-height: 2.5rem;
}