.nuestros-section{
    background-image: url('../../img/tonyJosePapaRepair.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.nuestros-bg-img{
    width: 94%;
    margin: 0;
    height: 100%;
    padding: 2rem;
    display: flex;
    justify-content: center;
    background: linear-gradient(180deg,rgba(18,64,124, .7),rgba(18,64,124,1));
}
.product-img-container{
    width: 50%;
}
.product-text-section{
    width:40%;
    text-align: center;
}

.product-text-container{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    color:white;
}
.product-text-container>h2{
    color:rgba(249,204,80, 0.9);
}