@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
/* blue: rgba(18,64,124, 0.9)
   yellow: rgba(249,204,80, 0.9)
   grey: rgba(118,118,118, 0.9)
*/
*{
    padding: 0;
    margin: 0;
}
.header.home{
    background-color: rgba(18,64,124, 0.9);
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.header.home>h1{
    margin-top:0
}
.header-inner{
background: linear-gradient(85deg,rgba(18,64,124, 0.8),rgba(9,32,63, 1));
}
img{
    width: 500px;
    padding-left: 1rem;
}
.header-container{
    display:flex;
}
.header-line{
    width: 80%;
    text-align: end;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}
.header-line>h1{
    margin-right: 2rem;
    color:white;
    font-size: 3rem;
}
.header-image{
    width: 20%;
}
#llamanos{
    font-size: 2rem;
    border:solid rgba(249,204,80, 0.9) 4px;
    border-radius: 25px;
    justify-items: center;
    text-decoration: none;
    padding: 1rem;  
    color: rgba(249,204,80, 0.9);
}
.section-icons-1{
    margin-top: 0;
    margin-bottom: 0;
    background: linear-gradient(110deg,rgba(249,204,80, 0.9) 50%,rgba(249,204,80, 1), rgba(0, 0, 0, .7)  50%,rgba(0, 0, 0, 0.1) 50.5%,rgba(255, 255, 255,1) 50.5%,rgba(255, 255, 255,1));
}

.section-icons-1>h1{
    font-family: 'Fjalla One';
    margin-top: 0;
    padding-top:2rem;
    text-align: center;
}
.section-icons-1>ul{
    margin-top: 0;
    margin-left: 0;
    padding-left: 0;
    list-style: none;
    display: flex;
    align-content: space-between;
}
.section-icons-1>ul>li{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.section-icons-1>ul>li>img{
    width: 50%;
    padding-bottom: 2rem;
    padding-left: 0;
}
.section-icons-1>ul>li>h3{
    margin-top: 0;
    padding-top: 2rem;
    font-size: 1.8rem;
}
.map{
    margin:2rem;
}
.eventosMain{
    height:510px;
    margin-top: 0;
    background-image: url(../img/map1.jpg);
}
.eventosMain-inner{
    margin-top: 0;
    height:100%;
    background: linear-gradient(180deg,rgba(135, 135, 135, 0.8),rgba(0, 0, 0, 0.817));
}
.eventoSection{
    height: 100%;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.infoWindow{
    border: 1px solid rgba(18,64,124, 0.9);
    border-radius: 25px;
    width:10rem;
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
    color:rgba(18,64,124, 0.9);
    letter-spacing: 5px;
}
.infoWindow>img{
    height: 10rem;   
}
.eventoInfo{
    width: 40%;
    color:white;
}